.testimonials-section {
    /* background-color: #f7fafc;  */
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .testimonials-slider {
    display: flex;
    justify-content: center;
    gap: 2rem;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .testimonial-item {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    flex-shrink: 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .testimonial-item:hover {
    transform: translateY(-10px);
  }
  
  .testimonial-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
  }
  
  blockquote {
    font-style: italic;
    color: #ececec;
  }
  
  .testimonial-item p {
    color: #fdfdfd;
    font-weight: bold;
    margin-top: 10px;
  }
  