.ft{
    background: linear-gradient(to bottom, black,  0%, #27053f);
}

.gradient-text {
    background: linear-gradient(to right, #8A2BE2, #ee60ee, #ac3d94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-weight: bold; */
}
